body{
}

table{
    border-collapse: collapse;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;
}

input {

}

table.spess{
    border-collapse: collapse;
    width: 100%;
}
td.spess, th.spess {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #dddddd;
}

tr.spess:nth-child(even){
}

